h1{
    font-size: 30px;
}

p{
    font-size: 15px;
    margin: 0%;
}

.bloco1{
    width:25%;
    height:50%;
    margin-left: 42rem;
    margin-top: 3%;
    margin-right: 10rem;
    justify-items: center;
    color: aliceblue;
}
#exemplo{
    font-size: 30px;
    background-color: #30c7f5;
}
section img{
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 1980px;
    height: 1080px;

}
body{
    background-image: url(image.jpg);
    height: 100%;
    background-position: no-repeat;
    background-size: cover;
      
}